*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiiased;
  background-color: #141414;
  color: #999;
}

ul{
  list-style: none;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: #fff !important;
}
